@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }

  #profile,
  .section-container {
    display: block;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .menu-links {
    padding-top: 50px;  /* This provides space for the close button */
}
}

@media screen and (max-width: 600px) {
  
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  .nav-links li a {
    font-size: 1rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
}


/* ------ MEDIA QUERIES ------ */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .copy-right {
    font-size: 14px; /* Slightly larger font size for tablet views. */
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .copy-right {
    font-size: 16px; /* Increase font size for desktop views. */
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .copy-right {
    font-size: 18px; /* Even larger font size for large desktops. */
  }
}

/* Adjustments for specific mobile breakpoints and small screens */
@media (max-width: 905px) {
  .profile-pic {
    width: 300px;
    height: 300px;
  }
  .title {
    font-size: 1.5rem;
  }
  .section__text__p1 {
    font-size: 1rem;
  }
  .section__text__p2 {
    font-size: 1rem;
  }
}

@media (max-width: 900px) {
  .home-img img {
    width: 200px !important;
    height: 200px !important;
  }
  .proj {
    font-size: small;
  }
}

@media (max-width: 768px) {
  .social a i {
    font-size: 20px;
  }
  .social {
    gap: 4px; 
  }
  .card-body a {
    word-wrap: break-word; /* Breaks the email onto the next line if it exceeds the width */
  }
  .title {
    font-size: 1.6rem;
    font-weight: bold;
  }
  #contact h1 {
    font-size: 2rem;
  }
  .card-body {
    flex-direction: column;
    align-items: center;
  }
  .card-body a {
    margin-top: 10px;
  }
  #certificates .carousel-inner img {
    max-width: 80%;
  }
  .credentials .download-btn,
  .download-btn {
    padding: 10px 12px; 
    font-size: 12px;  
  }
  .carousel-control-prev-icon, 
  .carousel-control-next-icon {
    height: 32px;
    width: 32px;
    border-radius: 50%;
  }
  .github-link {
    font-size: 0.8rem; 
    padding: 6px 5px; 
  }
  .github-link i {
    font-size: 0.7rem; 
    margin-right: 6px; 
  }
  .about-first,
  .about-second {
    line-height: 1.38;
    font-size: 12px;
    text-align: center;
  }
  .about-third {
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
  }
  
  .email-icon {
    font-size: 27px;
  }
  .linkedin-icon {
    font-size: x-large;
  }
  .cert-circle {
    width: 95px; 
    height: 95px;
    border-radius: 50%; 
  }
  .cert-circle .number {
    font-size: 1.001rem;
  }
  .cert-circle p {
    font-size: 15px;
  }
}

@media (max-width: 576px) {
  .profile-pic {
    width: 190px;
    height: 190px;
  }
  .title {
    font-size: 1.2rem;
  }
  .section__text__p1 {
    font-size: 1.2rem;
  }
  .section__text__p2 {
    font-size: 0.9rem;
  }
  .fact-item {
    margin-bottom: 20px;
  }
}

/* Styles for larger than mobile views */
@media (min-width: 577px) {
  .fact-item {
    margin-bottom: 0; 
  }
}

/* For better alignment and spacing on mobile */
@media only screen and (max-width: 767px) {
  .project-row > div {
    margin-bottom: 20px;
  }
}

@media (max-width: 992px) {
  body {
    padding-top: 60px;
  }
}
