
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}


a,
.btn {
  transition: all 400ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 11vh;
}

.nav-links {
  gap: 1.4rem;
  list-style: none;
  font-size: 1rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: rgb(103, 103, 103);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(7, 217, 220);
}

.logo {
    font-size: 1.68rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    background: linear-gradient(45deg, #2E3192, #07d6d6, #FF7A87, #FFCC00);
    background-size: 200% auto; 
    -webkit-background-clip: text;
    color: transparent;
    animation: GradientAnimation 4s ease infinite;
 
}

.logo:hover {
  cursor: default;
}

.icon i {
  background: linear-gradient(45deg, #f55332, #ea237c);
  -webkit-background-clip: text;
  color: transparent;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}
.hamburger-logo{
    font-size: x-large;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    background: linear-gradient(45deg, #2E3192, #0ae2e2, #FF7A87, #FFCC00);
    background-size: 200% auto;
    -webkit-background-clip: text;
    color: transparent;
    animation: GradientAnimation 4s ease infinite;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}
.hamburger-text{
  background: linear-gradient(45deg, #f55332, #ea237c);
  -webkit-background-clip: text;
  color: transparent;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.14rem;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}
.menu-links {
  position: fixed; 
  top: 0;
  right: 0;
  bottom: 0; 
  background-color: rgba(255, 255, 255, 0.9); 
  width: 50%; 
  height: 100vh; 
  max-height: 100vh;
  overflow-y: auto; 
  transform: translateX(100%); 
  transition: transform 0.3s ease-in-out; 
}


.menu-links.open {
  transform: translateX(0); 
}
.close-menu-btn {
  background: transparent;  
  border: none;  
  color: #413f3f;  
  font-size: 1.8rem;  
  padding: 10px 15px; 
  position: absolute;  
  top: -8px;  
  right: 15px;  
  cursor: pointer; 
  transition: transform 0.3s ease, opacity 0.3s ease; 
  z-index: 10; 
}

.close-menu-btn:hover {
  transform: scale(1.1);  
  opacity: 0.7;  
}

.close-menu-btn i {
  font-size: 1.5rem;  
}





#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.2rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}


/* for download cv button */

/* Download Button Styling */
.download-btn {
  display: inline-block;
  padding: 11px 12px;
  font-size: 18px;
  font-family: 'Fold', sans-serif;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to right, #f74a4a, #3d3d3d); 
  color: #fff;
  text-align: center;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
  z-index: 1;
}

.download-btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #12c6f3, #21d4b6); 
  transform: skewX(-45deg);
  transition: none;
  z-index: -1;
}

.download-btn:hover {
  transform: scale(1.05); 
}

.download-btn:hover:before {
  left: 100%;
  transition: left 0.6s ease;
}
.home-img .profile-pic {
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.home-img:hover .profile-pic {
  transform: scale(1.1); 
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); 
}


/* for the typed js effect */
/* Font and color */
.section__text__p2 {
  font-family: 'Roboto Mono', monospace; 
  color: #f71d1d;
}

/* Text shadow */
.section__text__p2 {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

/* Cursor animation */
.typed-cursor {
  font-size: 1.2em;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

/* Background highlight */
#typed {
  transition: background-color 0.8s ease;
}

.typed-color-1 {
  color: #11acac;  
}

.typed-color-2 {
  color: #f63434;  
}



/* for about section */

.fact-item {
  background-color: #f7f7f7;  
  border: 1px solid #e0e0e0;  
  border-radius: 10px;  
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.05);  
}

.fact-item:hover {
  transform: scale(1.05);  
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);  
}

/* Common Category Box Styles */
.category-box {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.category-box:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

/* Title Styles */
.category-title {
  font-size: 24px; 
  font-weight: 600;
  color: #4a4a4a;
  margin-bottom: 20px;
  position: relative;
}

.category-title::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #4a4a4a;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

/* Skill item hover effect */
.skill-items:hover {
  background-color: #f6f1f1;
}

.about-first{
  font-size: 22px;
  line-height: 1.4;
  text-align: justify;
  font-weight: normal;
}
.about-second{
  font-size: 22px;
  line-height: 1.4;
  text-align: justify;
}
.about-third{
  line-height: 1.4;
  text-align: justify;
}


/* for service section */
.service-item {
  transition: transform .3s, box-shadow .3s; 
}

.service-item:hover {
  transform: translateY(-9px); 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); 
}


/* for contact section */

.shadow-sm {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card {
  transition: transform .2s;
}

.card:hover {
  transform: translateY(-6px);
}

/* for icons in the contact section */
.social {
  display: flex;
  justify-content: center;
  gap: 9px; 
}

.social a {
  text-decoration: none;
  font-size: 34px; 
  transition: transform 0.3s ease; 
}

/* Individual icon colors */
.social a .fa-facebook { color: #1877F2; }
.social a .fa-instagram { color: #C13584; }
.social a .fa-linkedin { color: #0A66C2; }
.social a .fa-github { color: #333; }
.social a .fa-twitter { color: #1DA1F2; }
.social a .fa-pinterest { color: #E60023; }

/* Hover effects */
.social a:hover {
  transform: scale(1.2); 
}




/* for projects  */

/* Gradient Text */
.gradient-text {
  background: linear-gradient(45deg, #f83c3c, #3d3d3d);
  -webkit-background-clip: text;
  color: transparent;
}

/* Gradient Button */
.gradient-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  background: linear-gradient(45deg, #f83c3c, #3d3d3d);
  color: #ffffff;
  transition: transform 0.2s;
}

.gradient-btn:hover {
  transform: scale(1.05);
  text-decoration: none;
  color: #ffffff;
}

/* Project Image Style with hover effect */
.project-image {
  transition: transform 0.3s;
  border-radius: 5px;
}

.portfolio-item:hover .project-image {
  transform: scale(1.05);
}

.github-link {
  font-size: 0.8rem; 
  padding: 9px 8px; 
}
.project-name{
  text-align: center;
}



/* for freelancing  */
.freelancer-available {
  background: linear-gradient(135deg, #f13d4c, #d00000);
  position: relative;
  overflow: hidden;
}

.freelancer-available::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: rgba(255, 255, 255, 0.1);
  transform: rotate(-30deg);
  pointer-events: none; 
  z-index: 1;
}

.freelancer-available p, .freelancer-available h2, .freelancer-available a {
  position: relative;
  z-index: 10;
}

.freelancer-available a.btn {
  border: 2px solid #ffffff;
  background-color: transparent;
  transition: background-color 0.3s;
}

.freelancer-available a.btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


/* fot contact section */

#contact {
  font-family: 'Arial', sans-serif; 
}

.gradient-card {
  background: linear-gradient(45deg, #f84a4a, #4d4c4c);
  border-radius: 10px;
  overflow: hidden;
}

.gradient-card:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card {
  transition: box-shadow 0.3s;
}

.card i {
  transition: transform 0.3s;
}

.card:hover i {
  transform: scale(1.1);
}





/* for footer */
.site-footer {
  padding: 20px 0;
  background-color: #f8f9fa;
  border-top: 1px solid #e7e7e7;
}

.footer-content {
  font-size: 16px;
}





/* for responsive */

/* Styles that are always applied */
.profile-pic {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.title {
  font-size: 2.3rem;
  font-weight: bolder;
}

.section__text__p1,
.section__text__p2 {
  font-size: 1.6rem;
  font-weight: bolder;
}


/* for scrolling to the section title */
.section-title {
  padding-top: 12vh;  
}

/* Extended Gradient for h1 within .section-title */
.section-title h2 {
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  background: linear-gradient(45deg, #2E3192, #07d6d6, #FF7A87, #FFCC00);
  background-size: 200% auto; 
  -webkit-background-clip: text;
  color: transparent;
  animation: GradientAnimation 4s ease infinite; 
}

/* Animation for moving gradient */
@keyframes GradientAnimation {
  0% {
    background-position: 100% 0;
  }
  50% {
    background-position: 0 100%;
  }
  100% {
    background-position: 100% 0;
  }
}





/* for certificates */
#certificates .carousel-inner img {
  max-width: 50%;
  max-height: 450px;
}

#certificates .carousel-caption {
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 10%;
  text-align: center;
  max-width: 50%;
  border-radius: 10px;
  padding: 10px;
}


.carousel-control-prev-icon, .carousel-control-next-icon {
  background-image: none; 
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(45deg, #2E3192, #1BFFFF);
}

.carousel-control-prev-icon::before {
  content: "\f053"; 
  font-family: 'Font Awesome 5 Free'; 
  font-weight: 900; 
  color: white;
}

.carousel-control-next-icon::before {
  content: "\f054"; 
  font-family: 'Font Awesome 5 Free';
  font-weight: 900; 
  color: white;
}



.slide-count {
  background: linear-gradient(45deg, #2E3192, #1BFFFF);
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

}





/* to show the number of certificate */
.cert-circle {
  width: 105px; 
  height: 105px;
  border-radius: 50%; 
  background: linear-gradient(135deg, #60cde0, #FF69B4); /* gradient colors */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.cert-circle:hover {
  transform: scale(1.05);
}

.cert-circle .number {
  font-size: 1.6rem;
  font-weight: bold;
}

.cert-circle p {
  margin: 0;
  font-size: 0.3rem;
}
.cert-container {
  display: flex;
  justify-content: center;
  align-items: center;
}



/* Base Styles for the Footer */
.site-footer {
  padding: 20px 0;
}

.footer-content {
  text-align: center;
}

.copy-right {
  font-size: 11px; 
}

.card:hover {
  transform: translateY(-5px);
  transition: transform 0.5s;
}
/* for modal trigger button */
.view-details-text {
  font-size: 0.9rem;
  font-weight: 500;
  color: #363636;
  transition: all 0.3s;
  display: inline-block;
  text-decoration: none;  
}

.view-details-text:hover {
  color: #5d5d5d;
  transform: scale(1.05);
  text-decoration: underline;  
  text-decoration-color: #07f4e8; 
  text-underline-offset:6px;
}


/* for modal close button */
.close-btn {
  background-color: rgb(243, 243, 243); 
  border-radius: 15%;  
  color: #ff4757;                  
  font-size: 18px;     
  padding: 5px;            
  border: none;                    
  cursor: pointer;                 
  transition: color 0.3s;          
}

.close-btn:hover {
  color: #e8414a;                  
}

/* for image inside the image  */
.modal-content img {
  max-width: 100%;
  height: auto;
}


/* for video in the modal */

#video-container {
  position: relative;
  max-width: 100%;
}

#play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}


/* for bio  */
.bio-text {
  font-size: 17px;
  color:rgb(43, 43, 43) ;
  line-height: 1.38;
}


.simple-prompt {
  font-size: 17px;
  margin-top: 10px;
  color: #333;
  font-family: 'Arial', sans-serif;
}

.simple-link {
  color: #555;
  text-decoration: none;
  transition: color 0.3s ease; /* Using ease for a simple transition effect */
}

.simple-link:hover {
  color: #ed1e41; /* Transition to this color on hover */
}
